[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppDynProg"]
	path = RcppDynProg
	url = https://github.com/winvector/rcppdynprog
[submodule "WVPlots"]
	path = WVPlots
	url = https://github.com/winvector/wvplots
[submodule "cdata"]
	path = cdata
	url = https://github.com/winvector/cdata
[submodule "rqdatatable"]
	path = rqdatatable
	url = https://github.com/winvector/rqdatatable
[submodule "rquery"]
	path = rquery
	url = https://github.com/winvector/rquery
[submodule "sigr"]
	path = sigr
	url = https://github.com/winvector/sigr
[submodule "vtreat"]
	path = vtreat
	url = https://github.com/winvector/vtreat
[submodule "wrapr"]
	path = wrapr
	url = https://github.com/winvector/wrapr
